.App {
  display: grid;
  grid-template-rows: 10vh 90vh;
  grid-template-columns: 1fr;

  grid-template-areas:
  "header"
  "main"
  ;
}

.header {
  background-color: #444444;
  color:white;
  grid-area: header;
}

.input {
  border: 1px solid black;
  border-radius: 10px;
}

.input:invalid {
  border: 1px solid red;

}

.input:valid {
  border: 1px solid green;
}

.button {
  border: none;
  border-radius: 15px;
  padding: 1rem 2rem;
  font-size: 1rem;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
}

.radio {
  width: 1rem;
}

.main {
  grid-area: main;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

